.PopulationStatistics-header {
    text-align: center;
    color: #ffffff;
}

.StatisticsComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #282c34;
    color: #ffffff;
}

.StatisticsComponent label {
    margin-bottom: 10px;
    color: #ffffff;
}

.StatisticsComponent select {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    max-width: 200px;
    border: 1px solid #555;
    border-radius: 4px;
    background: #333;
    color: #ffffff;
}

.StatisticsComponent h2 {
    margin-top: 2px;
    margin-bottom: 10px;
    color: #ffffff;
}

.StatisticsComponent .chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.StatisticsComponent .chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 400px;
    margin: 10px 20px 20px 20px; /* Top, Right, Bottom, Left */
    padding: 20px;
    background: #333;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.StatisticsComponent .chart:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transform: translateY(-5px);
}
.PopulationStatistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Full vertical height */
    background: #282c34;
    color: #ffffff;
}

.PopulationStatistics-header {
    text-align: center;
    margin-bottom: 20px;
}

.PopulationStatistics-header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.PopulationStatistics-header label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PopulationStatistics-header input {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    max-width: 200px;
    border: 1px solid #555;
    border-radius: 4px;
    background: #333;
    color: #ffffff;
}
